body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
}

.portfolio-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #4400ff;
}

.subtitle {
  font-size: 0.8rem;
  color: #070707;
  margin-bottom: 0.5rem;
}

.section {
  margin: 0.5rem 0;
}

.section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #8400ff;
}

.section p,
.section ul {
  font-size: 1rem;
  color: #242424;
  margin: 0 auto;
  max-width: 600px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin: 0.3rem 0;
}

